body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    color: #707070;
}

html,
body {
    height: 100%
}

.name{
    text-align: left;
    font-family: 'Allura', cursive;
    font-size: 80px;
    padding-bottom: 30px;
}

.about{
    text-align: left;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 38px;
    font-size: 20px;
}

.zdjecie{
    max-height: 550px;
    position: absolute;
    z-index: -1;
    left: -30px;
    top: 20px;
}

.sign{
    text-align: center;
    padding-top: 30px;
}

.container-fluid{
    padding-top: 200px;
    padding: 10%;
}

.me{
    width: 400px;
    height: 555px;
    border: 1px solid #707070;
    position: relative;
    padding: 15px;
}